.App {
    text-align: center;
    min-height: 100vh;
    background-color: #0046ff;
}

.todoItemContainer > div > input {
    text-align: center;
}

.todoItemsContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todoListContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 40px;
}

.colorContainer {
    display: flex;
    gap: 10px;
}

.colorContainer button {
    height: 15px;
    border-radius: 50%;
}

.backgroundAliceBlue {
    background-color: aliceblue;
}

.backgroundYellow {
    background-color: yellow;
}

.backgroundRed {
    background-color: red;
}

.backgroundPink {
    background-color: pink;
}

.backgroundWhite {
    background-color: white;
}
